<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
   <!--Email:<input type="email" value={{email}}><br><br>
   Password:<input type="text" value="{{password}}"><br><br>
   <input type="button" (click)="onClick()" value="Login">-->
  <div>Email:<input type="email" [(ngModel)]="email" id="email"></div><br><br>
   <div>Password:<input type="text" [(ngModel)]="password" id="password"></div><br><br>
   <input type="button" (click)="onClick()" value="Login">

  
  </body>
</html>